<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
    <handlers>
        <remove name="OPTIONSVerbHandler" />
    </handlers>
   <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With, origin, content-type, accept, soapaction" />
      </customHeaders>
    </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
 </system.webServer>
</configuration>