body {
  padding-top: 50px;
}

img {
  margin: auto;
  max-width: 500px;
}

.intro {
  padding: 40px 15px;
  text-align: center;
}

.navbar-intro {
	color: #FFFFFF;
	background-color: #FFFFFF;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #337ab7;
	background-color: #000000;
}

.tutorial-text {
  padding: 40px 15px;
  text-align: left;
	font-size: 18px;
}

pre {
  text-align: left;
	font-size: 24px;
	width: 100%;
	padding: 0px 30px;
}