body {
  padding-top: 50px;
}

.intro {
  padding: 40px 15px;
  text-align: center;
}

.navbar-intro {
    color: #FFFFFF;
    background-color: #FFFFFF;
    display: inline-block;
    list-style-type: none;
}

.navbar { background-color: #EEEEEE; }
/*#mobile-navigation-label { background-color: transparent; }*/

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #337ab7;
	background-color: #000000;
}

/* Carousel base class */
.carousel {
	background-color: #337ab7;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-indicators li {
	color: #000000; /* #337ab7; */
  background-color: #000000; /* #337ab7; */
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #337ab7;
}
.carousel-inner > .item > img {
  position: center;
  width: 100%;
  max-width: 100%;
}
