body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; /* Remove horizontal scroll bar, use transitions */
  overflow-y: visible;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  border-style: solid;
  background-color: lightblue;
}

.carousel {
  background-color: transparent;
  margin-top: 5%;
}
.carousel:hover .carousel-control {
  visibility: visible;
}
.carousel-inner {
  overflow: visible;
}

.project-page {
  position: absolute;
  height: 100% !important;
}

.card, .finalrow, button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardtitle {
  padding-left: 5px;
  padding-right: 5px;
}

p.solid {
  border-style: solid;
}

.intro {
  padding: 40px 15px;
  text-align: center;
}

.navbar-intro {
	color: #FFFFFF;
	background-color: #FFFFFF;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #337ab7;
	background-color: #000000;
}

img {
	margin: auto;
  width: 100%;
}

hr {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

a {
  outline: none;
}
a:active {
  outline: none;
}
a:focus {
  outline: none;
}

.extended-image2 {
  width: 0%;
}

/* CSS tricks to create a triangle element for toggling "press releases" */
.triangle-topleft {
  cursor: pointer;
  width: 0; height: 0; border-top: 5vw solid lightblue; border-right: 5vw solid transparent;
  -webkit-transition: border-top 0.5s, border-right 0.5s; /* For Safari 3.1 to 6.0 */
  transition: border-top 0.5s, border-right 0.5s;
}
.triangle-topright {
  cursor: pointer;
  width: 0; height: 0; border-top: 5vw solid lightblue; border-left: 5vw solid transparent;
  -webkit-transition: border-top 0.5s, border-right 0.5s; /* For Safari 3.1 to 6.0 */
  transition: border-top 0.5s, border-right 0.5s;
}

.triangle-topleft:hover { border-top: 8vw solid lightblue; border-right: 8vw solid transparent; }
.triangle-topright:hover { border-top: 8vw solid lightblue; border-left: 8vw solid transparent; }

div p {
  padding-left: 10px;
}

#closeImageBox {
  padding: 0.75vw;
  width: 5vw; height: 5vw; left: 95vw;
  -webkit-transition: width 0.5s, height 0.5s, padding 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, padding 0.5s;
}

#closeImageBox:hover {
  /* width: 8vw; height: 8vw; */
  padding: 0.25vw;
}









/* A comment to hold the line */
