body {
  padding-top: 50px;
}

.intro {
  padding: 40px 15px;
  text-align: center;
}

.navbar-intro {
	color: #FFFFFF;
	background-color: #FFFFFF;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #337ab7;
	background-color: #000000;
}

img {
	margin: auto;
  width: 100%;
}

hr {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.extended-image2 {
  width: 0%;
}
